/*
 Theme Name:   Twenty Twenty Child Theme
 description: >-
   A child theme of the Twenty Twenty default WordPress theme
 Author:       Nick Schäferhoff
 Template:     twentytwenty
 Version:      1.0.0
*/

.book-single-content{
  display:flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.pagination-holder{
  width:100%;
  padding:30px;
  justify-content: center;
}

.pagination-holder a{
  margin: 0 30px;
  display:inline-block;
}